/* .container {
 position: fixed;
} */


/* .appjs-image-with-text{
  display: flex;
  align-items: center;
  margin-left: 220px;
  position: relative;
  
 
} */


.nav-ccg-logo {
    width: 250px !important;
    margin-top: 10px;
    margin-left: 40px;
}